<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Database</title>
    {{ if .err }}
    <link rel="stylesheet" href="/static/css/bad_reg_style.css">
    {{ else }}
    <link rel="stylesheet" href="/static/css/reg_style.css">
    {{ end }}
    <link rel="stylesheet" href="/static/css/multiple_choice.css">
</head>
<body>
<form class="login" method="post">
    {{ if .err }}
    <h1>{{.err}}</h1>
    {{ else }}
    <h1>Enter connection string</h1>
    {{ end }}
    <div class="box">
        <select name="bdVendorName">
            {{ range .vendors }}
            <option>{{.}}</option>
            {{ end}}
        </select>
    </div>
    <input type="text" placeholder="Server=127.0.0.1;Port=5432;Database=myDataBase;..." name="con_str">
    <input type="text" placeholder="DB name" name="dbName">
    <button> Connect </button>
</form>
</body>
</html>