<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/loadDB.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="circular-progress">
    <span class="progress-value">0%</span>
  </div>
  {{ if .restore }}
  <script  src="/static/js/restoreDB.js"></script>
  <span class="text">RESTORING DB</span>
  {{else}}
  <script  src="/static/js/loadDB.js"></script>
  <span class="text">CREATING DB</span>
  {{end}}
</div>
<!-- partial -->

</body>
</html>