<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>QuickTables</title>
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  {{ if .err }}
  <link rel="stylesheet" href="/static/css/bad_reg_style.css">
  {{ else }}
  <link rel="stylesheet" href="/static/css/reg_style.css">
  {{ end }}

</head>
<body>
<!-- partial:index.partial.html -->
<form class="login" method="post">
  {{ if .err }}
  <h1>{{.err}}</h1>
  {{ else }}
  <h1>Sign In</h1>
  {{ end }}
  <input type="text" placeholder="Username" name="username">
  <input type="password" placeholder="Password" name="password">
  <button>Sign In</button>
  <a href="/reg" style="color: black; font-size:25px">Not registered yet?</a>
</form>

</body>
</html>
