<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>QuickTables</title>
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/{{.css}}">

</head>
<body>
<!-- partial:index.partial.html -->
<form class="login" method="post">
  <h1>{{.msg}}</h1>
  <input type="text" placeholder="Username" name="username">
  <input type="password" placeholder="Password" name="password">
  <button>Sign In</button>
  <a href="/reg" style="color: black; font-size:25px">Not registered yet?</a>
</form>

</body>
</html>
