{{ define "main" }}
{{if .msg}}
{{ template "msg-good" .}}
<center>
    <img src="/static/img/small_logo.png"  width="50%" height="50%" style="text-align: center;">
</center>
{{else if and (not .error) (.query)}}
{{ template "table" .}}
{{else if .error}}
<br>
{{ template "msg" .}}
<center>
    <img src="/static/img/small_logo.png"  width="50%" height="50%" style="text-align: center;">
</center>
{{else}}
<center>
   <img src="/static/img/small_logo.png"  width="50%" height="50%" style="text-align: center;">
</center>
{{end}}
<form method="post">
    <div class="execute">
    <button class="button" type="submit"> RUN </button>
    <button class="button" type="button" onclick="location.href ='/list'"> SHOW TABLES </button>
    </div>
    <textarea name="query" style="border-color:#fff;" placeholder="Enter query" ID="editing" spellcheck="false" oninput="update(this.value); sync_scroll(this);" onscroll="sync_scroll(this);" onkeydown="check_tab(this, event);">{{.query}}</textarea>
    <pre ID="highlighting" aria-hidden="true" style="background:#fff">
        {{ if not .query }}
        <code class="language-sql" ID="highlighting-content" style="background:#fff">
        SELECT * FROM ...
        </code>
        {{ else }}
        <code class="language-sql" ID="highlighting-content" style="background:#fff">
        {{.query}}
        </code>
        {{ end }}

        </pre>
</form>
<script src="/static/js/script.js"></script>
<script src="/static/js/message.js"></script>
<script  src="/static/js/nav.js"></script>
{{ end }}