<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>QuickTables</title>
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/{{.css}}">

</head>
<body>
<form class="login" method="post">
  <h1>{{.msg}}</h1>
  <input type="text" placeholder="Username" name="username">
  <input type="password" placeholder="Password" name="password">
  <input type="password" placeholder="Repeat password" name="password2">
  <button>Sign Up</button>
  <a href="/login" style="color: black; font-size:25px">Already have an account?</a>
</form>
  
</body>
</html>
