/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.container {
    display: flex;
    width: 220px;
    padding: 50px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}
.circular-progress {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: conic-gradient(#456990 3.6deg, #456990 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before {
    content: "";
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value {
    position: relative;
    font-size: 30px;
    font-weight: 400;
    color: #456990;
}
.text {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
}


button.show-modal,
.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.active .show-modal {
    display: none;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}
section.active .overlay,
section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
}

section.active .modal-box {
    transform: translate(-50%, -50%) scale(1);
}

.modal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: 680px;
    background-color: #fff;
    border-radius: 24px;
    padding: 30px 20px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
}

.modal-box i {
    font-size: 70px;
    color: #4070f4;
}
.modal-box h3 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    color: #333;
}
.modal-box p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
}