@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}


h1 {
    margin-bottom: 5vmin;
    text-align: center;
    font-size: 6vmin;
    color: rgba(0, 0, 0, 0.6);
}

/* all buttons config */
.button {
    border: none;
    padding: 0.8em 1.9em;
    border-radius: 0.35rem;
    cursor: pointer;
    font-weight: 600;
    background: #456990;
    color: white;
}

.execute {
    margin: 24px;
    text-align: center;
}